.gradle
.vscode
.idea
*/bin
*/build

assign01/src/main/java/edu/realemj/assign01/Greetings.java
assign02/src/main/java/edu/realemj/assign02/*.java
assign03/src/main/java/edu/realemj/assign03/*.java
assign04/src/main/java/edu/realemj/assign04/*.java
!assign04/src/main/java/edu/realemj/assign04/Architect.java
assign05/src/main/java/edu/realemj/assign05/*.java
!assign05/src/main/java/edu/realemj/assign05/Silmarillion.java

